<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Vue Material">
    <meta name="application-name" content="Vue Material">
    <meta name="description" content="Material Design for Vue">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#2196f3">

    <title>Vue Material</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/assets/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/favicon/manifest.json">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#2196f3">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="dist/vue-material.css">
    <link rel="stylesheet" href="css/main.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="dist/vue-material.js"></script>
    <script src="js/main.js"></script>
  </head>

  <body>
    <div id="app" v-cloak>
    <md-layout md-gutter>
      <md-tabs>
        <template v-for="(e, i) in ethnicities">
          <md-tab v-on:click.native="activeEthnicity = i" v-bind:id="e.name" v-bind:md-label="e.name">
            <md-card>
              <md-card-content>
              <md-button-toggle md-single>
                <template v-for="(group, j) in groups">
                  <md-button v-on:click.native="activeGroup = j" v-bind:id="group.name" v-bind:md-label="group.name">
                    {{ group.name }}
                  </md-button>
                </template>
              </md-button-toggle>
              </md-card-content>
            </md-card>
          </md-tab>
        </template>
      </md-tabs>
      </md-layout>
      <md-card>
      <md-card-header>
        <div class="md-title">{{ title }}</div>
        <div class="md-subhead">{{ subhead }}</div>
      </md-card-header>
      <md-card-content>
        <div id="keywords">
          {{ keywords.join("<br/>") }}
        </div>
      </md-card-content>
    </md-card>
  </div>
  <script>
Tabletop.init({
  key: 'https://docs.google.com/spreadsheets/d/1N9pkMMcuskm636f9KjV2Uf0AJDesdeOmsARHKk0xm3U/pubhtml﻿',
  callback: function(sheet, tabletop) {
    console.log(sheet);
    window.sheet = sheet;
  },
  simpleSheet: true
});
Vue.use(VueMaterial);
var App = new Vue({
  el: '#app',
  data: KWM.data,
  methods: {
    generateKeywords: function(e, g) {
      return [e.name, g.name];
    },
    suffixArray: function(arr, string) {
      var newArray = [];
      for (var i = 0; i < arr.length; i++) {
        newArray.push(arr[i].concat(string));
      }
      return newArray;
    },
    prefixArray: function(arr, string) {
      var newArray = [];
      for (var i = 0; i < arr.length; i++) {
        newArray.push(string.concat(arr[i]));
      }
      return newArray;
    },
    union: function(arrays) {
      if (arrays.length == 0) {
        return [];
      }
      if (arrays.length == 1) {
        return arrays[0];
      }
      if (arrays.length == 2) {
        return arrays[0].concat(arrays[1]);
      }
      var head = arrays[0].concat(arrays[1]);
      var tail = arrays.slice(2);
      return this.union([head].concat(tail));
    },
    joinArr: function(arr1, arr2) {
      var newArray = [];
      console.log('jn:');
      console.log(arr1);
      console.log(arr2);
      console.log('/jn');
      for (var i = 0; i < arr2.length; i++) {
        newArray = newArray.concat(this.suffixArray(arr1, arr2[i]));
      }
      return newArray;
    },
    sandWich: function(arr1, arr2, arr3) {
      console.log('sw:');
      console.log(arr1);
      console.log(arr2);
      console.log(arr3);
      console.log('/sw');
      return this.joinArr(this.joinArr(arr1, arr2), arr3);
    },
    arrayProduct: function(arrays) {
      if (arrays.length == 0) {
        return [];
      }
      if (arrays.length == 1) {
        return arrays[0];
      }
      if (arrays.length == 2) {
        return this.joinArr(arrays[0], arrays[1]);
      }
      return this.arrayProduct([this.joinArr(arrays[0], arrays[1])].concat(arrays.slice(2)));
    },
    excludeItemsContaining: function(arr, string) {
      var newArray = [];
      for (var i = 0; i < arr.length; i++) {
        if (!arr[i].includes(string)) newArray.push(arr[i]);
      }
      return newArray;
    },
    substArray: function(templates, variables) {
      var newArray = [];
      for (var i = 0; i < templates.length; i++) {
        for (var j = 0; j < variables.length; j++) {
          newArray.push(templates[i].replace('~', variables[j]));
        }
      }
      return newArray;
    },
    selectText: function(element) {
      var doc = document,
        text = doc.getElementById(element),
        range, selection;
      if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
      } else if (window.getSelection) {
        selection = window.getSelection();
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
      }
    },
    expandEthnicities: function(words) {
      var ethnicities = [];
      for (var i = 0; i < words.length; i++) {
        var suffixes = [];
        var word = words[i];
        if (word.slice(-1) === '!') {
          word = word.slice(0, -1);
          suffixes.push('-american');
          suffixes.push('-americans');
        }
        if (word.slice(-1) === '~') {
          word = word.slice(0, -1);
          suffixes.push('-born');
        }
        if (word.slice(-1) === '*') {
          word = word.slice(0, -1);
          suffixes.push('-speaking');
        }
        ethnicities.push(word);
        ethnicities.push(word + "s");
        ethnicities = ethnicities.concat(this.prefixArray(suffixes, word));
      }
      return ethnicities;
    },
    generateKeywords: function(ethnicity, group) { //} templateKey, data, includeOrg) {
      //var e = ethnicity.words;
      var ethnicities = this.expandEthnicities(ethnicity.words);
      var placepeople = [];
      var demonyms = this.union([KWM.data.demonym_suffixes, KWM.data.demonym_suffixes_plural]);
      var pronouns = this.union([KWM.data.pronoun_suffixes, KWM.data.pronoun_suffixes_plural]);
      var demonympronouns = this.arrayProduct([KWM.data.demonym_suffixes, [" "], KWM.data.pronoun_suffixes_plural]);
      var demprodempro = this.union([demonyms, pronouns, demonympronouns]);
      if (ethnicity.hasOwnProperty('places')) {
        var placepeople = this.union([
          this.arrayProduct([ethnicity.places, [" "], demprodempro]),
          this.arrayProduct([demprodempro, [" ", " of ", " from "], ethnicity.places])
        ]);
      }
      var seedwords = this.union([
        ethnicities,
        placepeople,
        this.arrayProduct([ethnicities, [" "], demprodempro]),
        this.arrayProduct([ethnicities, [" "],
          ["refugee", "refugees"],
          [" "], pronouns
        ]),
        this.arrayProduct([
          ["refugee", "refugees"],
          [" "], ethnicities
        ])
      ]);
      var keywords = [];
      if (!group.term && !group.template) {
        keywords = this.union([keywords, seedwords]);
      }
      if (group.term) {
        var terms = group.term;
        if (typeof group.term === 'string' || group.term instanceof String) {
          terms = [group.term];
        }
        for (var i = 0; i < terms.length; i++) {
          var term = terms[i];
          if (this.term_groups.hasOwnProperty(group.term)) {
            if (!term.endsWith('_suffix') && !term.endsWith('_prefix')) {
              keywords = this.union([keywords, this.arrayProduct([seedwords, [" "], this.term_groups[term]])]);
              keywords = this.union([keywords, this.arrayProduct([this.term_groups[term],
                [" "], seedwords
              ])]);
            } else if (term.endsWith('_suffix')) {
              keywords = this.union([keywords, this.arrayProduct([seedwords, [" "], this.term_groups[term]])]);
            } else if (term.endsWith('_prefix')) {
              keywords = this.union([keywords, this.arrayProduct([this.term_groups[term],
                [" "], seedwords
              ])]);
            }
          } else {
            console.log('Cannot find term group "' + group.term + '"');
          }
        }
      }
      if (group.template) {
        var templates = group.template;
        if (typeof group.template === 'string' || group.template instanceof String) {
          templates = [group.template];
        }
        for (var i = 0; i < templates.length; i++) {
          var template = templates[i];
          if (this.term_groups.hasOwnProperty(template)) {
            keywords = this.union([keywords, this.substArray(this.templates[template])]);
          } else {
            console.log('Cannot find term group "' + group.term + '"');
          }
        }
      }
      return keywords;
    }
  },
  /*
  watch: {
    activeEthnicity: function(val) {
      this.keywords = [val, this.activeGroup];
      //this.keywords = [this.ethnicities[val].name, this.groups[val].name];
    },
    activeGroup: function(val) {
      this.keywords = [this.activeEthnicity, val];
    }
  },
  */
  computed: {
    // a computed getter
    keywords: function() {
      return this.generateKeywords(this.ethnicities[this.activeEthnicity], this.groups[this.activeGroup]);
    },
    title: function() {
      return this.ethnicities[this.activeEthnicity].name + ":" + this.groups[this.activeGroup].name;
    },
    subhead: function() {
      return this.keywords.length;
    }
  }
});
  </script>
</body>
</html>
